<template name="Home">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="students" class="well">
          <h2>Students</h2>
          <p>Create a profile and connect with other students.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="buyorder" class="well">
          <h2>Buy Order</h2>
          <p>Looking for a used book? List it here. We'll help find a seller.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="matches" class="well">
          <h2>Matches</h2>
          <p>Search the database for potential buyers and sellers.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div id="textbooks" class="well">
          <h2>Textbooks</h2>
          <p>View our books. If you don't see what you need, add it!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="sellorder" class="well">
          <h2>Sell Order</h2>
          <p>Got a used textbook to sell? List it here. We'll help find a buyer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="help" class="well">
          <h2>Help</h2>
          <p>Have a question about the site? Ask here.</p>
        </div>
      </div>
    </div>

  </div>
</template>
